/.gradle/
/build/
/dataToRead*/
/dataToPRead*/
/dataWritten*/
/DD*/
/Error/
/doc/
/**/*.csv
/**/*.ods
/**/*.odt
/**/.settings/*
/nnTrainedStatsLog*/*
/bin/
*.class
*.log
*.zip
*.tar.gz
hs_err_pid*
/.git.bfg-report/
